:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

#app { 
  background-color: rgba(255, 255, 255, 1);
  color: #242424;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 100%;
  min-width: 1024px;
  // max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
}

//适配移动端
@media screen and (max-width: 768px) {
  #app {
    width: 100%;
    min-width: 375px;
    height: 100vh;
    margin: 0 auto;
  }

  .ant-modal-body {
    height: 80% !important;
    overflow-y: auto !important;
  }
}



.resume-box {
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  padding: 10px;
  flex: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
