services:

  app:
    extends:
      file: compose.store.yml
      service: app

    command: agl store --host 0.0.0.0 --port 4747 --prometheus --backend memory

  node-exporter:
    image: prom/node-exporter:latest
    # In CI you might not have full /proc, but this is OK for container-level stats
    pid: "host"
    network_mode: "service:app" # share network with app for simplicity
    command:
      - '--path.rootfs=/host'
    volumes:
      - '/:/host:ro,rslave'

  prometheus:
    image: prom/prometheus:latest
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time=1h'
    volumes:
      - ./prometheus.memory-store.yml:/etc/prometheus/prometheus.yml:ro
      - ./data/prometheus:/prometheus
    depends_on:
      - app
      - node-exporter
    ports:
      - "9090:9090"
